html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    max-width: 757px;
    max-height: 1127px;
    margin: auto;
    /*border: 2px solid black;*/
}

h1 {
    font-size: 5.4rem;
    line-height: 5.4rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
}

h3 {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-style: normal;
    font-weight: 500;
}


.layout-2-col {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    align-items: stretch;
}

.name {
    font-weight: 300;
    text-shadow: 3px 2px silver;
    margin-block-end: 0rem;
    margin-block-start: 1rem;
}
.last-name {
    font-weight: 500;
    text-shadow: 3px 2px silver;
    margin-block-start: 0mm;
}
.left-section {
    width: 35%;
    background-color: rgb(230, 215, 196);
    padding-left: 1rem;
    
}
.right-section {
    width: 60%;
  
}
.layout-3-col {
    display: flex;
    margin: 0rem 2rem;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(230, 215, 196);
    
}

.left-section article {
    padding-bottom: 1.5rem;
}

ul {
    padding-inline-start: 2rem;
}
.contact li {
    list-style-type: none;
}
.photo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-block-start: 1rem;
    margin-inline-start: 0;
    margin-inline-end: 0rem;
    
}
.profile-photo {
    border-radius: 15%;
    box-shadow: 0 0 10px rgb(230, 215, 196);
}
.ico {
    display: inline-block;
    justify-content: space-between;
}

.ico_mail {
    background-image: url("image/icons8-important-mail-24.png");
    width: 22px;
    height: 22px;
}
.ico_skype {
    background-image: url("image/icons8-skype-24.png");
    width: 22px;
    height: 22px;
}
.ico_phone {
    background-image: url("image/icons8-phone-24.png");
    width: 22px;
    height: 22px;
}
.rs-logo {
    width: 100px;
}
.git-hub-logo {
    width: 40px;
    height: 40px;
}
span {
    color: black;
}
.date {
    font-style: italic;
}
a {
    text-decoration: none;
    align-items: center;
}
.rounded-rectangle {
    height: 2.8rem;
    max-width: 30rem;
    background-color: rgb(230, 215, 196);
    margin-top: -4rem;
    margin-left: -3rem;
    border-top-right-radius: 1.4rem;
}

